.box {
    border: 1px solid black;
    padding: 10px;
    width: 400px;
    text-align: justify;
}

.one {
    border-top: none;
}

.five {
    border-bottom: none;
}

.box:hover {
    color: blue;
    cursor: pointer;
    font-size: 25px;
}